### Model selection & Cross Validation

In [1]:
import numpy as np
import pandas as pd

In [4]:
## Reading data

df = pd.read_csv("purchased_dataset.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
## Splitting dataset into Dependent & Independent variables

x = df[["Age","EstimatedSalary"]]
y = df["Purchased"]

In [6]:
## Import libraries for Train_test split & KNN

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

In [9]:
## Splitting dataset into Train & test

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=5 )

print(x_train.head()), print(x_test.head())

     Age  EstimatedSalary
24    46            23000
33    28            44000
396   51            23000
273   39           106000
246   35            50000
     Age  EstimatedSalary
218   46            96000
191   19            26000
117   36            52000
50    24            32000
348   39            77000

(None, None)

In [10]:
## Fitting the dataset in model

knnclassifier = KNeighborsClassifier(n_neighbors = 5)

knnclassifier.fit(x_train, y_train)

KNeighborsClassifier()

In [11]:
y_pred = knnclassifier.predict(x_test)

In [12]:
metrics.accuracy_score(y_test, y_pred)

0.77

### Using Cross Validation

In [14]:
from sklearn.model_selection import cross_val_score
knnclassifier = KNeighborsClassifier(n_neighbors = 4)

print(cross_val_score(knnclassifier, x, y, cv=10, scoring="accuracy").mean())

0.7925

In [15]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()

print(cross_val_score(logreg, x, y, cv=10, scoring="accuracy").mean())

0.6425000000000001

it is better to use KNN classifier for model selection as compared to Logistic regression method